.institution
  %ul.group-links
    / %div.duplicate{:data => institution.permalink}
    /   .activate
    /     = link_to t('institution.duplicate').capitalize, '#'

    = link_to icon_edit(:alt => t('edit'), :title => t('edit')), edit_institution_path(institution), :class => 'open-modal'
    = link_to institution_path(institution), :confirm => t('are_you_sure'), :method => :delete do
      = icon_delete(:alt => t('disable'), :title => t('institution.destroy'))

  .institution-data
    %ul
      %li.main-text
        %span.unified-institution
          %h3
            = institution.acronym
      %li.main_text
        = sanitize institution.name

      %p
        = link_to t('institution.user', :count => institution.users.count).capitalize, user_permissions_institution_path(institution)
      %p
        = link_to t('institution.space', :count => institution.spaces.count).capitalize, spaces_institutions_path(institution)
